body {
    font-family: 'Segoe UI', sans-serif;
    text-align:center;
}

span {
    font-style: italic;
}

h1{
    text-align:center;
}

table {
    cursor:pointer;    
}
img {
    cursor:pointer;    
}
